.register-view {
  display: flex;
  flex-direction: row;
  background: #fff;
  height: 100%;
  .register-content {
    margin: 0 auto;
    position: relative;
    top: 100px;
    width: 600px;
    .ant-form {
      margin-right: 100px;
    }
    .register-steps {
      width: 460px;
      margin: 32px 0 40px 100px;
    }
  }
}
