.register-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .register-content {
    width: 600px;

    .ant-form {
      margin-right: 100px;
    }
    .register-steps {
      width: 460px;
      margin: 32px 0 40px 100px;
    }
  }
}
