.register-view {
  display: flex;
  flex-direction: row;
  background: #fff;
  height: 100%;
  .register-content {
    margin: 0 auto;
    position: relative;
    top: 100px;
    width: 600px;
    .ant-form {
      margin-right: 125px;
    }
    .register-steps {
      display: flex;
      margin-bottom: 18px;
      justify-content: center;
      align-items: center;
      h2 {
        color: rgba(0, 0, 0, 0.65)
      }
    }
  }
}
