@import 'src/global_color';
@import 'src/global_font';
@import 'src/global_size';
.ant-layout-content {
  min-height: auto !important;
}
.layout {
  height: 100%;
  min-height: 900px;
  .layout-header {
    padding: 0;
    .logo {
      width: 140px;
      height: 31px;
      background: rgba(255, 255, 255, 0.2);
      margin: 16px 64px 16px 64px;
      float: left;
      line-height: 32px;
      text-align: center;
      font-size: 28px;
      font-weight: bolder;
      cursor: pointer;
    }
    .header-menu {
      line-height: 50px;
      .menu-item {
        padding: 12px 28px 0 28px;
        font-size: 16px;
        font-weight: 400;
      }
    }
    .header-right-menu {
      float: right;
      width: 500px;
      height: 63px;
      display: flex;
      flex-direction: row-reverse;

      .header-account {
        display: flex;
        flex-direction: row;
        &:hover {
          background: #f0f0f0;
        }
        width: 120px;
        margin: 0 24px 0 0;
        cursor: pointer;
      }

      .header-login {
        margin: 1px 36px 0 24px;

      }

      .header-question, .header-notification {
        cursor: pointer;
        &:hover {
          background: #f0f0f0;
        }
        text-align: center;
        width: 50px;
        line-height: 70px;
      }
    }
  }
  //.layout-content {
  //  background: #f5f5f5;
  //  padding: 24px;
  //  height: 100%;
  //}
  .layout-footer{
    background: #F9F9F9;
    border-top: 1px solid rgba(230, 230, 230, 0.99);
    .footer-body {
      //text-align: center;
      margin: 0 auto;
      width: 1024px;
      //flex: auto;
    }
  }

}
